.form {
    display: flex;
    position: sticky;
    align-items: center;
    outline: none;
    border: none;
    padding: 0 130px;
    gap: 15px;
}

.textarea_text {
    width: 100%;
    background: #BDC4D4;
    padding: 24px;
    outline: none;
    color: #2a3b56;
    font-size: 20px;
    border: none;
    resize: none;
    max-height: 230px;
    border-radius: 20px;

}

.btn{
    padding: 18px;
    background: #BDC4D4;
    border-radius: 20px;
    border: none;
    cursor: pointer;
    align-self: flex-end;
}