.textarea{
    border: none;
    outline: none;
    height: 100%;
}
.textarea_wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

