.wrapper {
    width: 100%;
    height: 100px;
    background: #1C2E4A;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    color: #BDC4D4;
    transition: background-color 0.3s ease;
}
.wrapper:hover {
    background-color: #3F4E67;
}

.wrapper.active {
    background-color: #BDC4D4;
    border-left: 10px solid #1C2E4A;
    color: #1C2E4A;
}

.chat_content,
.chat_content_active {
    display: flex;
    align-items: center;
    gap: 12px;
    width: 100%;
    padding: 0 20px;
}

.chat_name {
    font-size: 30px;
}