.message{
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: max-content;
    height: auto;
    border-radius: 15px;
    color: white;
    padding: 10px 20px;
}
.data{
    font-size: 25px;
}
.email{
    font-size: 18px;
}