.message {
    display: flex;
    flex-direction: column;
    gap: 10px;
    border-radius: 15px;
    color: white;
    padding: 5px 10px;
    font-size: 25px;
}
.images_wrapper{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 5px;

}
.email {
    font-weight: bold;
}

.data {
    word-break: break-word;
}


