.wrapper {
    height: 100vh;
    width: 100%;
    background: #3F4E67;
    display: flex;
    flex-direction: column;
}

.header {
    width: 100%;
    padding: 8px 0;
    background: #2A3B56;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.chat_info{
    display: flex;
    align-items: center;
    gap: 30px;
}

.members_count {
    font-size: 36px;
    color: #BDC4D4
}