.wrapper {
    height: 100vh;
    width: 100%;
    display: flex;
}

.page_content {
    height: 100vh;
    width: 70%;
    overflow: auto;
}

.left_bar {
    width: 30%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    background: #2A3B56;
    overflow: hidden;
}

.header {
    width: 100%;
    display: flex;
    gap: 16px;
    padding: 10px 32px;
    align-items: center;
    color: #BDC4D4;
    font-size: 22px;
    flex-shrink: 0;
    position: sticky;
    top: 0;
    background: #2A3B56;
    box-sizing: border-box;
}

.chat_list {
    overflow-y: auto;
}

.chat_list::-webkit-scrollbar {
    width: 8px;
}

.chat_list::-webkit-scrollbar-track {
    background: #2A3B56;
}

.chat_list::-webkit-scrollbar-thumb {
    background-color: #4A5B76;
    border-radius: 4px;
}

.exit_icon_wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.user_email {
    text-decoration: underline;
}