.container {
    background-color: rgba(0, 0, 0, 0.5);;
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.content {
    background-color: #1C2E4A;
    display: flex;
    gap: 80px;
    flex-direction: column;
    height: max-content;
    width: 990px;
    border-radius: 64px;
    padding: 20px 50px 35px;
}

.modal_header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.close_icon {
    width: 37px;
    height: 37px;
    cursor: pointer;
}

.title {
    color: #BDC4D4;
    font-size: 50px;
}
